* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    background-color: #3160e0;
    height: 80px;
    padding: 10px;
    min-height: 80px;
}

h1 {
    font-size: 60px;
    line-height: 80px;
}

.container {
    width: 70%;
    max-width: 1100px;
    margin: auto;
}

.accedi {
    background-color: #ffffff;
    color: #000000;
    border-radius: 30px;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.tasti-header {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.row {
    background-color: #3160e0;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 10px;
}

/* First Section*/
.hero {
    background-image:url(./img/jumbo.png);
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.hero-text {
    height: 300px;
    width: 800px;
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.p1 {
    padding: 30px;
    line-height: 50px; 
    font-size: 25px;.
}

.button-mac{
    background-color: #ffffff;
    color: #000000;
    border-radius: 30px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.button-discord {
    background-color: #000000;
    color: #ffffff;
    border-radius: 30px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
/* /First Section*/

/* Second Section */
.white-background {
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 70%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* /Second Section */

/* Third Section */
.grey-background {
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-pink2 {
    font-size: 25px;
    width: 40%;
    height: 450px;
    line-height: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.box-blue {
    width: 60%;
    line-height: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
/* /Third Section */


/* 5th Section */
.footer-text {
    font-size: 25px;
    width: 70%;
    line-height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 60px;
}

.h2 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.button-mac2{
    background-color: #3160e0;
    color: #ffffff;
    border-radius: 30px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* /5th Section */

section {
    padding: 30px 0;
}

/* 6th Section */
.black-background {
    background-color: #383838;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.box-red {
    color: #3160e0;
    font-family: Arial, Helvetica, sans-serif;
    height: 500px;
    width: 100%;
}

.box-green {
    height: 500px;
    width: 18%;
    list-style: none;
}

li {
    list-style: none;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

b {
    color: #3160e0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
/* /6th Section */

/* 7th section */
.row-footer {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 10px;
    width: 100%;
}

.black-background-footer {
    background-color: #383838;
    border-top: 3px solid #cacaca;
    border-bottom: 3px solid #cacaca;
}
/* /7th section */
.bottone-registrati {
    background-color: #3160e0;
    padding: 10px;
    color: #ffffff;
    border-radius: 30px;
    padding: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
